<!DOCTYPE html>
<html  layout:decorate="~{main_layout}"
       xmlns:th="https://www.thymeleaf.org"
       xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <title>All validators</title>
</head>
<body>
<div layout:fragment="content">
<p></p>
  <h2 class="text-center">All validators</h2>
<p></p>
<div class="container">

  <p th:if="${error}" class="alert alert-danger" role="alert">Selected validator is mentor, cannot be deleted</p>

  <form action="#" th:action="@{/SearchValidators}"  method="post">
    <label >Name:</label>
    <input type="text" name="name" id="name" class="form-control" placeholder="Enter validators name" >
    <button>Search</button>
  </form>
  <table id="contractors" class="table table-striped">
    <thead>
    <tr>
      <th>Name</th>
      <th>City</th>
      <th>Address</th>
      <th>Phone</th>
      <th>Hire date</th>
      <th>Delete</th>
      <th>Edit</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="validator : ${validators}">
      <td th:text="${validator.firstName + ' ' + validator.lastName}"></td>
      <td th:text="${validator.city}"></td>
      <td th:text="${validator.address}"></td>
      <td th:text="${validator.telephone}"></td>
      <td th:text="${validator.hireDate}"></td>
      <td>
        <a th:href="@{'/manager/deleteValidator/' + ${validator.id}}" onclick="return confirm('Are you sure about that?')"><i class="fas fa-user-minus" style="color:red"></i></a>
      </td>
      <td>
        <a th:href="@{'/manager/editValidator/' + ${validator.id}}"><i class="fas fa-user-edit" style="color:green"></i></a>
      </td>
    </tr>
    </tbody>
  </table>
</div>
</div>
</body>
</html>