<!DOCTYPE html>
<html  layout:decorate="~{main_layout}"
       xmlns:th="https://www.thymeleaf.org"
       xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <title>All Contractors</title>
</head>
<body>
<div layout:fragment="content">
<p></p>
  <h2 class="text-center">All contractors</h2>
<p></p>
<div class="container">
  <table id="contractors" class="table table-striped">
    <thead>
    <tr>
      <th>Name</th>
      <th>City</th>
      <th>Address</th>
      <th>Phone</th>
      <th>Hire date</th>
      <th>Delete?</th>
      <th>Edit?</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="contractor : ${contractorsList}">
      <td th:text="${contractor.firstName + ' ' + contractor.lastName}"></td>
      <td th:text="${contractor.city}"></td>
      <td th:text="${contractor.address}"></td>
      <td th:text="${contractor.telephone}"></td>
      <td th:text="${contractor.hireDate}"></td>
      <td>
        <a th:href="@{'/manager/deleteContractor/' + ${contractor.id}}">Delete</a>
      </td>
      <td>
        <a th:href="@{'/manager/editContractor/' + ${contractor.id}}">Edit</a>
      </td>
    </tr>
    </tbody>
  </table>
</div>
</div>
</body>
</html>