<!DOCTYPE html>
<html  layout:decorate="~{main_layout}"
       xmlns:th="https://www.thymeleaf.org"
       xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <title>All feedbacks posted by me</title>
</head>
<body>
<div layout:fragment="content">
<p></p>
  <h2 class="text-center">All feedbacks posted by me</h2>
<p></p>
<div class="container">
  <table id="contractors" class="table table-striped">
    <thead>
    <tr>
      <th>Domain</th>
      <th>Validator</th>
      <th>Contractor</th>
      <th>Feedback</th>
      <th>Reworks</th>
      <th>Quality</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="feedback : ${feedbacksList}">
      <td th:text="${feedback.getDomain().getName()}"></td>
      <td th:text="${feedback.domain.validator} ? ${feedback.domain.validator.firstName} +' '+${feedback.domain.validator.lastName} : 'NEURČENO'" /></td>
      <td th:text="${feedback.domain.contractor} ? ${feedback.domain.contractor.firstName} +' '+${feedback.domain.contractor.lastName}: 'NEURČENO'"></td>
      <td th:text="${feedback.feedbackText}"></td>
      <td th:text="${feedback.reworks}"></td>
      <td th:text="${feedback.quality}"></td>
    </tr>
    </tbody>
  </table>
</div>
</div>
</body>
</html>