<!DOCTYPE html>
<html  layout:decorate="~{main_layout}"
       xmlns:th="https://www.thymeleaf.org"
       xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <title>My domains</title>
</head>
<body>
<div layout:fragment="content">
<p></p>
  <h2 class="text-center">My domains</h2>
<p></p>
<div class="container">
  <table id="contractors" class="table table-striped">
    <thead>
    <tr>
      <th>Name</th>
      <th>Validator</th>
      <th>Contractor</th>
      <
      <th>Due date</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="domain : ${domainsList}">
      <td th:text="${domain.name}"></td>
      <td th:text="${domain.validator} ? ${domain.validator.firstName} +' '+${domain.validator.lastName} : 'NEURČENO'" /></td>
      <td th:text="${domain.contractor} ? ${domain.contractor.firstName} +' '+${domain.contractor.lastName}: 'NEURČENO'"></td>
      <td th:text="${domain.dueDate}"></td>
    </tr>
    </tbody>
  </table>
</div>
</div>
</body>
</html>