<!DOCTYPE html>
<html  layout:decorate="~{main_layout}"
       xmlns:th="https://www.thymeleaf.org"
       xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <title>All validators</title>
</head>
<body>
<div layout:fragment="content">
<p></p>
  <h2 class="text-center">All validators</h2>
<p></p>
<div class="container">
  <table id="contractors" class="table table-striped">
    <thead>
    <tr>
      <th>Name</th>
      <th>City</th>
      <th>Address</th>
      <th>Phone</th>
      <th>Hire date</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="validator : ${validators}">
      <td th:text="${validator.firstName + ' ' + validator.lastName}"></td>
      <td th:text="${validator.city}"></td>
      <td th:text="${validator.address}"></td>
      <td th:text="${validator.telephone}"></td>
      <td th:text="${validator.hireDate}"></td>
    </tr>
    </tbody>
  </table>
</div>
</div>
</body>
</html>