<!DOCTYPE html>
<html  layout:decorate="~{main_layout}"
       xmlns:th="https://www.thymeleaf.org"
       xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <title>Edit domain</title>
</head>
<body>
<div layout:fragment="content">
<p></p>
  <h2 class="text-center">Edit domain</h2>
<p></p>

<div class="container">
<form action="#" th:action="@{/validator/updateDomain}" th:object="${domain}" method="post">
  <div class="form-group">
    <input type="hidden" th:field="*{id}" class="form-control" readonly="readonly" >
  </div>
  <div class="form-group">
    <label >Domain name:</label>
    <input type="text" th:field="*{name}" class="form-control" placeholder="Enter first name" >
    <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="alert alert-danger" role="alert">Name was not set</p>
  </div>
  <div class="form-group blu-margin">
    <label >Select validator:</label>
    <select class="form-control" th:field="*{validator}"  id="dropOperator">
      <option value="0">Select validator to assign</option>
      <option th:each="validator : ${validators}" th:value="${validator.id}" th:text="${validator.firstName} +' '+${validator.lastName}"></option>
    </select>
  </div>
  <div class="form-group blu-margin">
    <label >Select contractor:</label>
    <select class="form-control" th:field="*{contractor}"  id="dropOperator2">
      <option value="0">Select contractor to assign</option>
      <option th:each="contractor : ${contractors}" th:value="${contractor.id}" th:text="${contractor.firstName} +' '+${contractor.lastName}"></option>
    </select>
  </div>

  <div class="form-group">
    <label >Priority:</label>
    <input type="number" step="1" min="1" max="10" th:field="*{priority}" class="form-control" placeholder="Enter priority" >
    <p th:if="${#fields.hasErrors('priority')}" th:errors="*{priority}" class="alert alert-danger" role="alert">Wrongly set priority</p>
  </div>

  <div class="form-group">
    <label >Due date:</label>
    <input type="date" th:field="*{dueDate}" class="form-control" placeholder="Enter hire date" >
  </div>

  <button type="submit" class="btn btn-primary">Update changes</button>
</form>
</div>
<p></p>
</div>
</body>
</html>