<!DOCTYPE html>
<html  layout:decorate="~{main_layout}"
       xmlns:th="https://www.thymeleaf.org"
       xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <title>Add new validator</title>
</head>
<body>
<div layout:fragment="content">
<p></p>
  <h2 class="text-center">Edit contractor</h2>
<p></p>

<div class="container">
<form action="#" th:action="@{/saveContractor}" th:object="${contractor}" method="post">
  <div class="form-group">
    <label >Contractor ID to edit:</label>
    <input type="text" th:field="*{id}" class="form-control" readonly="readonly" >
  </div>
  <div class="form-group">
    <label >First name:</label>
    <input type="text" th:field="*{firstName}" class="form-control" placeholder="Enter first name" >
  </div>
  <div class="form-group">
    <label >Last name:</label>
    <input type="text" th:field="*{lastName}" class="form-control" placeholder="Enter last name" >
  </div>
  <div class="form-group">
    <label >City:</label>
    <input type="text" th:field="*{city}" class="form-control" placeholder="Enter city" >
  </div>
  <div class="form-group">
    <label >Address:</label>
    <input type="text" th:field="*{address}" class="form-control" placeholder="Enter address" >
  </div>
  <div class="form-group">
    <label >Phone:</label>
    <input type="text" th:field="*{telephone}" class="form-control" placeholder="Enter phone number" >
  </div>
  <div class="form-group">
    <label >Hire date:</label>
    <input type="date" th:field="*{hireDate}" class="form-control" placeholder="Enter hire date" >
  </div>

  <button type="submit" class="btn btn-primary">Update changes</button>
</form>
</div>
<p></p>
</div>
</body>
</html>