<!DOCTYPE html>
<html  layout:decorate="~{main_layout}"
       xmlns:th="https://www.thymeleaf.org"
       xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>Extracted informations</title>
</head>
<body>
<div layout:fragment="content">
    <img style="max-width: 100%; height: auto; margin-top: -1em;" class="img-responsive" src="../static/resources/images/icon.jpg" th:src="@{/resources/images/icon.jpg}"/>
    <p></p>
    <h2 class="text-center">Extrahované informace</h2>
    <p></p>
    <div class="container" style="width:45%">
        <table class="table table-sm">
            <thead class="thead-dark">
            <tr>
                <th>Klíč</th>
                <th>Hodnota</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Jméno: </td>
                <td style="color:green" th:text="${cvProfile.firstName}"></td>
            </tr>
            <tr>
                <td>Příjmení: </td>
                <td style="color:green"  th:text="${cvProfile.lastName}"></td>
            </tr>
            <tr>
                <td>Akademický titul: </td>
                <td><p style="margin:0;color:green" th:each="title : ${cvProfile.titleList}" th:text="${title.officialVersion}"></p>
                    <p style="margin:0;color:green" th:if="${cvProfile.titleList.isEmpty()}">BEZ TITULU</p></td>
            </tr>
            <tr>
                <td>Pohlaví: </td>
                <td style="color:green" th:text="${cvProfile.gender}"></td>
            </tr>
            <tr th:if="${cvProfile.birthDate != null}">
                <td>Datum narození: </td>
                <td style="color:green" th:text="${cvProfile.birthDate}"></td>
            </tr>
            <tr th:if="${cvProfile.birthYear != 0}">
                <td>Rok narození: </td>
                <td style="color:green" th:text="${cvProfile.birthYear}"></td>
            </tr>
            <tr>
                <td>Věk: </td>
                <td style="color:green" th:text="${cvProfile.age}"></td>
            </tr>
            <tr>
                <td>Email: </td>
                <td style="color:green" th:text="${cvProfile.email}"></td>
            </tr>
            <tr>
                <td>Mobil: </td>
                <td style="color:green" th:text="${cvProfile.mobile}"></td>
            </tr>
            <tr>
                <td>Nejvyšší dosažený stupeň vzdělání: </td>
                <td style="color:green" th:text="${cvProfile.maxEducation.maxEduLvl.maxEduLvlName}"></td>
            </tr>
            <tr>
                <td>Obecný obor nejvyššího dosaženého vzdělání: </td>
                <td style="color:green" th:text="${cvProfile.maxEducation.generalEduField}"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="container text-center">
    <a href="/" class="btn btn-info" style="margin-top:1em; margin-bottom: 2em" role="button">Zpět do hlavního menu</a>
</div>

    <div class="container text-center">
        <form>
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Log z průběhu extrakce stupně a oboru vzdělání</label>
                <textarea rows="30" th:text="${eduLog.logText}" class="form-control" id="exampleFormControlTextarea1"></textarea>
            </div>
        </form>
    </div>
</div>
</body>
</html>