<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>All contractors</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>

<body>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <ul class="navbar-nav">
        <li class="nav-item active">
            <h5 class="nav-link">Firemní systém</h5>
        </li>
        <li class="nav-item active">
    <a class="nav-link" href="/">Homepage</a>
</li>
    <li class="nav-item">
        <a class="nav-link" href="/allContractors">All contractors</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/newContractor">Add contractor</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/allValidators">All validators</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/newValidator">Add validator</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/allDomains">All domains</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/newDomain">Add domains</a>
    </li>
    </ul>
</nav>
<p></p>
<h2 class="text-center">Aplikace firemní systém</h2>
<p></p>
<p class="text-center">V navigačním menu nahoře vyberte co chcete zobrazit..</p>