<!DOCTYPE html>
<html  layout:decorate="~{main_layout}"
       xmlns:th="https://www.thymeleaf.org"
       xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <title>My working plan</title>
</head>
<body>
<div layout:fragment="content">
  <div th:if="${message_notification !=''}" class="alert alert-success alert-dismissible fade show">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <i class="fas fa-check-circle" style="color:green"></i><strong th:text="' ' + ${message_notification}"></strong>
  </div>
<p></p>
  <h2 class="text-center">My working plan</h2>
  <p class="text-center">Actual for month number: <span th:text="${plan.getMonthNumber()}"></span></p>
<p></p>
  <p class="text-center"><a th:href="@{'/editWorkingPlan/' + ${plan.id}}">Edit my plan</a></p>
<p></p>
<div class="container">
  <table id="contractors" class="table table-dark table-striped table-bordered">
    <thead>
    <tr>
      <th th:text="'01/' + ${plan.getMonthNumber()}"></th>
      <th th:text="'02/' + ${plan.getMonthNumber()}"></th>
      <th th:text="'03/' + ${plan.getMonthNumber()}"></th>
      <th th:text="'04/' + ${plan.getMonthNumber()}"></th>
      <th th:text="'05/' + ${plan.getMonthNumber()}"></th>
      <th th:text="'06/' + ${plan.getMonthNumber()}"></th>
      <th th:text="'07/' + ${plan.getMonthNumber()}"></th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td th:text="${plan.getDay1()}"></td>
      <td th:text="${plan.getDay2()}"></td>
      <td th:text="${plan.getDay3()}"></td>
      <td th:text="${plan.getDay4()}"></td>
      <td th:text="${plan.getDay5()}"></td>
      <td th:text="${plan.getDay6()}"></td>
      <td th:text="${plan.getDay7()}"></td>
    </tr>
    </tbody>
    <thead>
    <tr>
      <th th:text="'08/' + ${plan.getMonthNumber()}"></th>
      <th th:text="'09/' + ${plan.getMonthNumber()}"></th>
      <th th:text="'10/' + ${plan.getMonthNumber()}"></th>
      <th th:text="'11/' + ${plan.getMonthNumber()}"></th>
      <th th:text="'12/' + ${plan.getMonthNumber()}"></th>
      <th th:text="'13/' + ${plan.getMonthNumber()}"></th>
      <th th:text="'14/' + ${plan.getMonthNumber()}"></th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td th:text="${plan.getDay8()}"></td>
      <td th:text="${plan.getDay9()}"></td>
      <td th:text="${plan.getDay10()}"></td>
      <td th:text="${plan.getDay11()}"></td>
      <td th:text="${plan.getDay12()}"></td>
      <td th:text="${plan.getDay13()}"></td>
      <td th:text="${plan.getDay14()}"></td>
    </tr>
    </tbody>
    <thead>
    <tr>
      <th th:text="'15/' + ${plan.getMonthNumber()}"></th>
      <th th:text="'16/' + ${plan.getMonthNumber()}"></th>
      <th th:text="'17/' + ${plan.getMonthNumber()}"></th>
      <th th:text="'18/' + ${plan.getMonthNumber()}"></th>
      <th th:text="'19/' + ${plan.getMonthNumber()}"></th>
      <th th:text="'20/' + ${plan.getMonthNumber()}"></th>
      <th th:text="'21/' + ${plan.getMonthNumber()}"></th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td th:text="${plan.getDay15()}"></td>
      <td th:text="${plan.getDay16()}"></td>
      <td th:text="${plan.getDay17()}"></td>
      <td th:text="${plan.getDay18()}"></td>
      <td th:text="${plan.getDay19()}"></td>
      <td th:text="${plan.getDay20()}"></td>
      <td th:text="${plan.getDay21()}"></td>
    </tr>
    </tbody>
    <thead>
    <tr>
      <th th:text="'22/' + ${plan.getMonthNumber()}"></th>
      <th th:text="'23/' + ${plan.getMonthNumber()}"></th>
      <th th:text="'24/' + ${plan.getMonthNumber()}"></th>
      <th th:text="'25/' + ${plan.getMonthNumber()}"></th>
      <th th:text="'26/' + ${plan.getMonthNumber()}"></th>
      <th th:text="'27/' + ${plan.getMonthNumber()}"></th>
      <th th:text="'28/' + ${plan.getMonthNumber()}"></th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td th:text="${plan.getDay22()}"></td>
      <td th:text="${plan.getDay23()}"></td>
      <td th:text="${plan.getDay24()}"></td>
      <td th:text="${plan.getDay25()}"></td>
      <td th:text="${plan.getDay26()}"></td>
      <td th:text="${plan.getDay27()}"></td>
      <td th:text="${plan.getDay28()}"></td>
    </tr>
    </tbody>
    <thead>
    <tr>
      <th th:text="'29/' + ${plan.getMonthNumber()}"></th>
      <th th:text="'30/' + ${plan.getMonthNumber()}"></th>
      <th th:text="'31/' + ${plan.getMonthNumber()}"></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td th:text="${plan.getDay29()}"></td>
      <td th:text="${plan.getDay30()}"></td>
      <td th:text="${plan.getDay31()}"></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    </tbody>
  </table>
</div>
</div>
</body>
</html>